@media screen and (min-width: 30rem) {
body {
    position: relative;
    width: 30rem;
    height: 326.1875rem;
    box-sizing: border-box;
    font-family: "Fraunces";
    font-size: 1.125rem;
    margin: 0%;
}
.container {
    position: absolute;
    width: 23.4375rem;
    height: 326.1875rem;
    display: block;
}
header {
    position: relative;
    width: 23.4375rem;
    height: 33.625rem;
    background-image: url("./assets/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: #F1F1F1;
}
.nav_logo {
    position: absolute;
    width: 7.7275rem;
    height: 1.5rem; 
    margin-top: 2rem;
    margin-left: 1.5rem;
}
.header_arrow {
    position: absolute;
    width: .0625rem;
    height: 6.25rem;
    margin-left: 11.7188rem;
    margin-top: 18.375rem;
    background-color:#FFFFFF;
    border: solid #FFFFFF;
}
.nav_shape {
    position:absolute;
    width: 1.5rem;
    height: 1.125rem;
    margin-top: 2.1875rem;
    margin-left:20.4375rem;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}
.nav_shape_rect {
    background-color: #FFFFFF;
    width: 1.5rem;
    height: .125rem;
}
.nav_shape_rect2 {
    background-color: #FFFFFF;
    width: 1.5rem;
    height: .125rem;
}
.nav_shape_rect3 {
    background-color: #FFFFFF;
    width: 1.5rem;
    height: .125rem;
}
.nav_bar {
    display: none;
}
h1 {
    position: absolute;
    width: 20.4375rem;
    height: 6.125rem;
    margin-left: 1.5rem;
    margin-top: 9rem;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 3.0825rem;
    text-align: center;
    letter-spacing: .3906rem;
    text-transform: uppercase;
}
/* À partir d'ici, plus de responsive */
.main_img1 {
    position: absolute;
    width: 23.4375rem;
    height: 19.5rem;
    left: 0rem;
    top: 33.625rem;
}
.section1 {
    position: absolute;
    width: 20.4375rem;
    height: 19.3125rem;
    left: 1.5rem;
    top: 57.125rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .section1_h2 {
        font-style: normal;
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.4375rem;
        text-align: center;
        letter-spacing: -0.0143rem;
        color: #24303E;
    }
    .section1_p {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.875rem;
        text-align: center;
        letter-spacing: -0.008rem;
        color: #808397;
    }
    .section1_a {
        font-style: normal;
        font-weight: 900;
        font-size: .9375rem;
        line-height: 1.5625rem;
        letter-spacing: .0625rem;
        text-transform: uppercase;
        color: #24303E;
    }
    .section1_rect {
        width: 8.5625rem;
        height: .625rem;
        background-color: #FAD400;
        mix-blend-mode: normal;
        opacity: 0.25;
        border-radius: 28px;
    }
.main_img2 {
    position: absolute;
    width: 23.4375rem;
    height: 19.5rem;
    left: 0rem;
    top: 80.4375rem;
}
.section2 {
    position: absolute;
    width: 20.4375rem;
    height: 19.3125rem;
    left: 1.5rem;
    top: 103.9375rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .section2_h2 {
        font-style: normal;
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.4375rem;
        text-align: center;
        letter-spacing: -0.0143rem;
        color: #24303E;
    }
    .section2_p {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.875rem;
        text-align: center;
        letter-spacing: -0.008rem;
        color: #808397;
    }
    .section2_a {
        font-style: normal;
        font-weight: 900;
        font-size: .9375rem;
        line-height: 1.5625rem;
        letter-spacing: .0625rem;
        text-transform: uppercase;
        color: #24303E;
    }
    .section2_rect {
        width: 8.5625rem;
        height: .625rem;
        background-color: #FE7766;
        mix-blend-mode: normal;
        opacity: 0.25;
        border-radius: 28px;
    }
.section3 {
    position: absolute;
    width: 23.4375rem;
    height: 37.5rem;
    left: 0rem;
    top: 127.25rem;
    background-image: url("./assets/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    display: block;
}
    .section3_h2 {
        margin-top: 24.875rem;
        font-style: normal;
        font-weight: 900;
        font-size: 1.75rem;
        line-height: 2.1875rem;
        text-align: center;
        letter-spacing: -0.0125rem;
        color: #24554A;
    }
    .section3_p {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6875rem;
        text-align: center;
        letter-spacing: -0.0071rem;
        color: #24554A;
    }
.section4 {
    position: absolute;
    width: 23.4375rem;
    height: 37.5rem;
    left: 0rem;
    top: 164.75rem;
    background-image: url("./assets/image-photography.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    display: block;
}
    .section4_h2 {
        margin-top: 24.875rem;
        font-style: normal;
        font-weight: 900;
        font-size: 1.75rem;
        line-height: 2.1875rem;
        text-align: center;
        letter-spacing: -0.0125rem;
        color: #24554A;
    }
    .section4_p {
        margin-left: 1.5rem;
        margin-right: 1.5rem;;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.6875rem;
        text-align: center;
        letter-spacing: -0.0071rem;
        color: #24554A;
    }
aside {
    width: 20.4375rem;
    left: 1.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
    h3 {
        position:absolute;
        width:17.4375rem;
        height: 20px;
        top: 206.25rem;
        font-style: normal;
        font-weight: 900;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        letter-spacing: .25rem;
        color: #A7AAAD;
        text-transform: uppercase;
    }
    .aside_img1 {
        position: absolute;
        top: 211.5rem;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 3.125rem;
    }
    .aside_p1 {
        position: absolute;
        top: 218rem;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 2rem;
        text-align: center;
        letter-spacing: -0.008rem;
        color: #5B636D;
    }
    .aside_client1 {
        position: absolute;
        top: 226rem;
        font-style: normal;
        font-weight: 900;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;
        letter-spacing: -0.008rem;
        color: #24303E;
    }
    .aside_job1 {
        position: absolute;
        top: 227.9375rem;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.5625rem;
        text-align: center;
        letter-spacing: -0.0063rem;
        color: #A7AAAD;
    }
    .aside_img2 {
        position: absolute;
        top: 233.5rem;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 3.125rem;
    }
    .aside_p2 {
        position: absolute;
        top: 240rem;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 2rem;
        text-align: center;
        letter-spacing: -0.008rem;
        color: #5B636D;
    }
    .aside_client2 {
        position: absolute;
        top: 250rem;
        font-style: normal;
        font-weight: 900;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;
        letter-spacing: -0.008rem;
        color: #24303E;
    }
    .aside_job2 {
        position: absolute;
        top: 251.9375rem;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.5625rem;
        text-align: center;
        letter-spacing: -0.0063rem;
        color: #A7AAAD;
    }
    .aside_img3 {
        position: absolute;
        top: 257.5rem;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 3.125rem;
    }
    .aside_p3 {
        position: absolute;
        top: 264rem;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 2rem;
        text-align: center;
        letter-spacing: -0.008rem;
        color: #5B636D;
    }
    .aside_client3 {
        position: absolute;
        top: 272rem;
        font-style: normal;
        font-weight: 900;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;
        letter-spacing: -0.008rem;
        color: #24303E;
    }
    .aside_job3 {
        position: absolute;
        top: 273.9375rem;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: .875rem;
        line-height: 1.5625rem;
        text-align: center;
        letter-spacing: -0.0063rem;
        color: #A7AAAD;
    }
.figures {
    position: absolute;
    width: 23.4375rem;
    height: 23.4375rem;
    top: 280.875rem;
    display:flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}
    .figure_img {
        position: relative;
        width: 11.718775rem;
        height: 11.718775rem;
        padding: 0rem;
        object-fit: cover;
    }
footer {
    position: absolute;
    width: 23.4375rem;
    height: 21.875rem;
    left: 0rem;
    top: 304.3125rem;
    background: #90D4C6;
}
/*Couleur de logo non modifiée (malgré tentatives)*/
    .footer_logo {
        position:absolute;
        width: 10.625rem;
        height: 2.0625rem; 
        margin-top: 4rem;
        margin-left: 6rem;
    }
    .footer_nav {
        position:absolute;
        height: 1.5625rem;
        margin-top: 8.5625rem;
        margin-left: 2.4375rem;
        margin-right: 2.375rem;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.5625rem;
        letter-spacing: -0.008rem;
        color: #458D7E;
        display: flex;
        justify-content: flex-start;
    }
        .footer_about {
            width: 3rem;
            height: 1.5625rem;
            margin-right: 3.5rem;
        }
        .footer_services {
            width: 4.3125rem;
            height: 1.5625rem;
            margin-right: 3.5rem;
        }
        .footer_projects {
            width: 4.125rem;
            height: 1.5625rem;
        }
    .footer_icons {
        position: absolute;
        width: 10.25rem;
        height: 1.25rem;
        margin-top: 15.625rem;
        margin-left: 6.5rem;
        display: flex;
        justify-content: space-around;
    }
        .footer_fb {
            width: 1.25rem;
            height: 1.25rem;
        }
        .footer_ig {
            width: 1.25rem;
            height: 1.25rem;
        }
        .footer_tw {
            width: 1.25rem;
            height: 1.0313rem;
        }
        .footer_pt {
            width: 1.25rem;
            height: 1.25rem;
        }
}
@media screen and (min-width: 90rem) {
    body {
        position: relative;
        width: 116.215rem;
        height: 2324px;
        box-sizing: border-box;
        font-family: "Fraunces";
        font-size: 1.125rem;
        margin: 0%;
    }
    .container {
        position: relative;
        width: 90rem;
        height: 260.875rem;
        display: block;
    }
    header {
        position: relative;
        width: 90rem;
        height: 50rem;
        background-image: url("./assets/image-header.jpg");
        background-repeat: no-repeat;
        background-size: 90rem 50rem;
        color: #F1F1F1;
    } 
    .nav_logo {
        position: absolute;
        width: 10.625rem;
        height: 2.0625rem;
        margin-top: 2.875rem; 
    }  
    .header_arrow {
        position: absolute;
        width: .0625rem;
        height: 6.25rem;
        margin-left: 44.9688rem;
        margin-top: 22.5338rem;
        background-color:#FFFFFF;
        border: solid #FFFFFF;
    }
    .nav_shape {
        display: none;
    }
    .nav_bar {
        font-family: 'Barlow';
        display: flex;
        flex-wrap: nowrap;    
    }
    .nav_About {
        position: absolute;
        width: 3rem;
        height: 1.5625rem;
        padding-right: 2.9375rem;
        margin-left: 57.8125rem;
        margin-top: 3.125rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.5625rem;
        letter-spacing: -0.008rem;
    }
    .nav_Services {
        position: absolute;
        width:4.5rem;
        height: 1.5625rem;
        padding-right: 2.9375rem;
        margin-top: 3.125rem;
        margin-left: 63.75rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.5625rem;
        letter-spacing: -0.008rem;
    }
    .nav_Projects {
        position: absolute; 
        width: 4.125rem;
        height: 1.5625rem;
        padding-right: 2.9375rem;
        margin-top: 3.125rem;
        margin-left: 71.1875rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.5625rem;
        letter-spacing: -0.008rem;
    }
    button {
        position: absolute;     
        width: 8.75rem;
        height: 3.5rem;
        padding-left: 2rem;
        padding-right: 1.875rem;
        padding-top: 1rem;
        padding-bottom: .9375rem;
        margin-top: 2.125rem;
        margin-left: 78.25rem;
        border-radius: 1.75rem;
        border: none;
        font-family: 'Fraunces 9pt Soft';
        font-style: normal;
        font-weight: 700;
        font-size: .9375rem;
        line-height: 1.5625rem;
        letter-spacing: -0.0067rem;
        text-transform: uppercase;
        color: #24303E;
    }
    h1 {
        position: absolute;
        width: 46.875rem;
        height: 4.3125rem;
        margin-left: 21.5313rem;
        margin-top: 12.1875rem;
        font-style: normal;
        font-weight: 900;
        font-size: 3.5rem;
        line-height: 4.3125rem;
        text-align: center;
        letter-spacing: .5469rem;
        text-transform: uppercase;
    }
}